canvas {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

div {
    display: inline-block;
}

h1 {
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Noto Sans', sans-serif !important;
    background-image: linear-gradient(to right bottom,#33261f,#579c35,#6f7962,#4b5731,#8f9768,#33332a);
}
tr{
    opacity: 0.5;
}
tr:hover{
    opacity: 1;
}
